@model string

<div class="row">
    <div class="col-md-3">
        <p class="caption"><b><i>Welcome dear, @Model!</i></b></p>
    </div>
    <div class="col-md-3">
        <p><a asp-action="Logout" asp-controller="Account"><b><i>Logout</i></b></a></p>
    </div>
</div>